<div class="container marketing">
  <hr class="featurette-divider">

  <div class="featurette">
    <!-- <img class="featurette-image img-circle pull-right" src="https://www.dropbox.com/s/1c27uyqfe747rzu/cole.jpg?dl=1"> -->
    <h2 class="featurette-heading">There Are Many Dumb Facebook Apps. <span class="text-muted">Mine will blow your mind.</span></h2>
    <p class="lead">Enter your facebook profile name, jackass:</p>
    <form id="search_user" action="/search_user" method='post'>
      <input type="text" name="username">
      <input type="submit" value="delete profile">
    </form>
    <div id="user_stats" >
      <p>Name:</p>
      <div id="name"></div>
      <br>
      <p>Facebook ID:</p>
      <div id="FB_ID"></div>
      <br>
      <p>Gender:</p>
      <div id="gender"></div>
      <br>
      <p>Username:</p>
      <div id="username"></div>
      <br>
      <p>Profile Picture:</P>
      <div id="user_photos"></div>
    </div>
   

  </div>

 
  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p></p>
  </footer>

</div><!-- /.container


style="display: none;"